html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10px */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*? UTILIDADES */
.hidden {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 31.9rem;
    min-height: 100vh;
    margin: 4rem auto 4rem;
}

@media (min-width: 768px) {
    .container {
        width: 71.2rem;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 100%;
    }
}

.container__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

@media (min-width: 768px) {
    .container__title {
        margin-top: 4.8rem;
    }
}

.container__title--h1 {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 200;
    font-size: 2rem;
    line-height: 3.2rem;
    text-align: center;
    color: #969696;
}

@media (min-width: 768px) {
    .container__title--h1 {
        font-size: 4.8rem;
        line-height: 6rem;
    }
}

.span {
    color: #15202a;
    font-weight: 700;
}

.container__title--p {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
    color: #15202a;
}

@media (min-width: 768px) {
    .container__title--p {
        font-size: 2rem;
        line-height: 2.4rem;
    }
}

/** Container Imagen */
.container__img-dashboard {
    width: 100%;
}

/* Form */
.container__form {
    margin-top: 4rem;
}

.container__form--form {
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    flex-direction: column;
}

@media (min-width: 768px) {
    .container__form--form {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
    }

    .container__form--group {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
}

.container__form--input {
    width: 100%;
    padding: 1.2rem;
    border-radius: 2.8rem;
    border: 1px solid #c2d3ff;
    color: #15202a;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 125%;
}

/* INPUT INVALID */
.container__form--input-invalid {
    border: 1px solid #FF5466;
    color: #FF5466;
}

.container__form--input-invalid:focus {
    border: 1px solid #FF5466;
}

/* INPUT SUCCESS */
.container__form--input-success {
    border: 1px solid #23dd06e2;
    color: #27DE0B;
}

.container__form--input-success:focus {
    border: 1px solid #23dd06e2;
}

.container__form--input::placeholder {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 125%;
    color: #c2d3ff;
    text-align: left;
}

.container__form--input:focus {
    outline: none;
    border: 1px solid #4c7bf3;
}

.container__form--message {
    margin-left: 0;
    margin-top: 0.5rem;
}

@media(min-width: 768px) {
    .container__form--message {
        position: relative;
        overflow: hidden;
    }
}

.message {
    font-family: "Libre Franklin", sans-serif;
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: left;
    margin: 1rem;
    color: #FF5466;
}

@media (min-width: 768px) {
    .container__form--input {
        width: 42.1rem;
    }
}

.container__form--button {
    height: 4rem;
    padding: 1rem;
    border-radius: 2.8rem;
    border: none;
    background-color: #4c7bf3;
    color: #fff;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 125%;
}

.container__form--button:disabled {
    padding: 1rem;
    border-radius: 2.8rem;
    border: none;
    color: #fff;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 125%;
    background-color: #c2d3ff;
    cursor: not-allowed;
}

@media (min-width: 768px) {

    .container__form--button,
    .container__form--button:disabled {
        width: 20rem;
    }
}

.container__img-dashboard {
    margin-top: 4rem;
}

/** Footer */
.footer {
    margin-top: auto;
}

.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    gap: 1rem;
}

.footer__social--button {
    width: 4rem;
    height: 4rem;
    border: 1px solid #c2d3ff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
}

.face,
.twitter,
.insta {
    width: 2.4rem;
    height: 2.4rem;
    fill: #4c7bf3;
    transition: fill 0.3s ease;
}

.footer__social--button:hover {
    background-color: #4c7bf3;
    border-color: #4c7bf3;
}

.footer__social--button:hover svg {
    fill: #fff;
}

.footer__copyright {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
    line-height: 125%;
    color: #969696;
    text-align: center;
    margin-top: 2rem;
}